# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.educ_system.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\C#\educ_system\.idea\.idea.educ_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
