@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on Eductational platform!</h1>
    <p>To view courses move to link below</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Menu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="/Types">Types</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Teachers">Teachers</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Subjects">Subjects</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Groups">Groups</a>
            </td>
        </tr>
    </tbody>
</table>
